.Calculation {
  &__wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #282A32;
  }

  &__title {
    text-align: center;
    padding-bottom: 60px;
  }

  &__tab-underline {
    background: linear-gradient(90.23deg, #D231C1 3.15%, #5E1ED2 99.8%);
    border-radius: 40px;
    height: 8px;
    position: absolute;
    width: 100%;
    bottom: -25px;
  }
  &__combination-button {
    display: flex;
    align-items: center;
  }
  &__hours-mobile {
    display: none;
  }
  &__tabs-mobile {
    display: none;
  }
  &__message-link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  &__tabs-wrapper {
    width: 100%;
    max-width: 1280px;
    padding-bottom: 88px;
    margin: 0 auto;
  }

  &__hours-wrapper {
    width: 100%;
    max-width: 1280px;
    padding-bottom: 128px;
    margin: 0 auto;
  }
  &__hours-master {
    text-align: center;
    padding-top: 12px;
  }
  &__tabs,
  &__hours {
    list-style: none;
    display: flex;
    padding: 0;
    position: relative;
    justify-content: space-between;
  }

  &__tab-underline {
    background: linear-gradient(90.23deg, #D231C1 3.15%, #5E1ED2 99.8%);
    border-radius: 40px;
    height: 8px;
    position: absolute;
    width: 100%;
    bottom: -25px;
  }

  &__tabs-line {
   border: 1px solid #5E1ED2;
   border-radius: 40px;
    height: 8px;
  }

  &__tab,
  &__hour {
    position: relative;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  &__hour {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__hours-line {
    position: absolute;
    border: 1px solid #5E1ED2;
    width: 100%;
    height: 8px;
    top: 8px;
    z-index: 1;
  }
  &__hour-round {
    border: 1px solid #D231C1;
    border-radius: 40px;
    width: 24px;
    height: 24px;
    &--active {
      background: linear-gradient(90.23deg, #D231C1 3.15%, #5E1ED2 99.8%);
      border-radius: 40px;
      z-index: 2;
    }
  }

  &__cost-callback-wrapper {
    width: 100%;
    max-width: 1280px;
    padding-bottom: 128px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cost-wrapper {
    display: flex;
  }

  &__cost-text {
    padding-right: 24px;
  }
  &__callback {
    margin-right: 90px;
  }
  &__callback,
  &__message {
    display: flex;
    cursor: pointer;
    align-items: center;
    &-image {
      padding-right: 12px;
    }
  }
  &__callback-wrapper {
    display: flex;
  }
}

@media (max-width: 1284px) {
  .Calculation {
    &__wrapper {
      padding: 12px 12px 0 12px;
    }
    &__title {
      text-align: start;
    }

    &__tabs{
      display: none;
    }
    &__tabs-mobile {
      display: flex;
      list-style: none;
      flex-direction: column;
    }
    &__tabs-line {
      display: none;
    }
    &__tabs-mobile-wrapper {
      display: flex;
      justify-content: space-around;
      padding-bottom: 32px;
    }
    &__tab-underline {
      bottom: -12px;
      width: 100%;
    }
    &__tab {
      margin-right: 24px;
    }
    &__tabs-wrapper {
      padding-bottom: 60px;
    }
    &__tab-underline-empty {
      border:1px solid #D231C1;
      border-radius: 40px;
      height: 8px;
      position: absolute;
      width: 100%;
      bottom: -12px;
    }
  }
}

@media (max-width: 920px) {
  .Calculation {
    &__cost-callback-wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 700px) {
  .Calculation {
    &__cost-wrapper {
      padding-bottom: 12px;
    }
    &__callback {
      margin-right: 30px;
    }
  }
}
