@import "src/styles/constants.module";

.Stock {
  &__left-image {
    position: absolute;
    top: 44px;
    left: -277px;
  }

  &__right-image {
    position: absolute;
    top: -4px;
    right: -277px;
    padding-bottom: 200px;
  }
  &__wrapper {
    padding-bottom: 244px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    max-width: 1234px;
    margin: 0 auto;
  }

  &__main-text {
    padding-bottom: 32px;
  }

  &__text-wrapper {
    max-width: 946px;
  }

  &__slider-wrapper {
    position: relative;
  }

  &__mix-image {
    position: absolute;
    top: -85px;
    left: -277px;
  }

  &__carousel-item-img {
    padding-bottom: 16px;
  }

  &__carousel-stock-date {
    opacity: 0.5;
  }

  &__carousel-stock-name {
    padding-bottom: 8px;
  }

  &__carousel-item {
    border: none;
    background: #282A32;
    border-radius: 12px;
    box-sizing: border-box;
    height: 302px;
    max-width: 290px;
    overflow: hidden;
    padding: 20px;
    outline: none;
    &-img {
      border-radius: 20px;
    }
  }
  &__carousel-img-wrapper {
    display: flex;
    margin-bottom: 24px;
  }
  &__carousel-img {
    padding-right: 32px;
  }
  &__carousel-comment {
    max-width: 420px;
  }
  &__carousel-star {
    padding-top: 12px;
  }
}

// :global is used because react-slick can not use css modules
.Stock__carousel .slick-list .slick-track {
  // чтобы не центрировалось по центру когда 1 слайд
  margin: 0;
  display: flex;
}

.Stock__carousel .slick-slide {
  margin-right: 30px;
}

.slick-list {
  overflow: hidden;
  max-width: 1286px;
}

.Stock__carousel  .slick-track {
  justify-content: space-around;
  width: 3840px !important;
  display: flex;
}
// кружок для стрелки
.Stock__carousel .slick-prev,
.Stock__carousel .slick-next {
  align-items: center;
  background: $Black;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  outline: none;
  padding: 0;
  position: absolute;
  top: -66px;
  transition: visibility .3s linear, opacity .3s linear;
  width: 24px;
  z-index: 1;
}

// тень для стрелки
.Stock__carousel .slick-next {
  margin-right: 24px;
  right: 0;
  transform-style: preserve-3d;
}

// тень для стрелки
.Stock__carousel .slick-prev {
  display: none !important;
}

// спрятать стрелку либы
.Stock__carousel .slick-prev::before,
.Stock__carousel .slick-next::before {
  display: none;
}

@media (max-width: 1325px) {
  .Stock {
    &__wrapper {
      padding: 12px 12px 150px 12px;
    }
    &__left-image {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .Stock__carousel  .slick-track {
    width: unset !important;
  }
}
