.HookaOrder {
  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  &__tabs {
    display: flex;
    padding: 0;
  }

  &__tab-underline {
    background: linear-gradient(90.23deg, #D231C1 3.15%, #5E1ED2 99.8%);
    border-radius: 40px;
    height: 8px;
    position: absolute;
    width: 100%;
    bottom: -25px;
  }

  &__first-tab {
    margin-right: 48px;
    cursor: pointer;
    position: relative;
    list-style: none;
  }

  &__second-tab {
    position: relative;
  }

  &__second-tab {
    list-style: none;
    cursor: pointer;
  }

  &__tabs-content-desktop {
    display: flex;
  }

  &__delivery-wrapper {
    padding-bottom: 240px;
  }

  &__delivery-top {
    padding-bottom: 24px;
  }

  &__delivery-terms-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__delivery-terms-image {
    display: flex;
  }
  &__delivery-terms-text-mobile {
    display: none;
  }
  &__terms-image {
    padding-right: 20px;
  }

  &__tabs-line {
    border: 1px solid #6720D1;
    border-radius: 40px;
    height: 8px;
  }

  &__delivery-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__delivery-block-first {
    background: #282A32;
    padding: 8px 16px;
    text-align: center;
    min-width: 30%;
    border-radius: 40px 0 0 40px;
  }
  &__tabs-content-mobile {
    display: none;
  }
  &__delivery-block-second {
    background: #282A32;
    padding: 8px 16px;
    text-align: center;
    min-width: 30%;
  }

  &__delivery-block-third {
    background: #282A32;
    padding: 8px 16px;
    text-align: center;
    min-width: 30%;
    border-radius: 0 40px 40px 0;
  }
}

@media (max-width: 1068px) {
  .HookaOrder {
    &__tabs-content-desktop {
      display: none;
    }
    &__tabs-content-mobile {
      position: relative;
      display: block;
      padding-bottom: 30px;
    }
  }
}

@media (max-width: 1352px) {
  .HookaOrder {
    &__hooka-image {
      position: absolute;
      top: 90px;
      right: -14px;
    }
    &__combination-hooka {
      height: 356px;
      width: 30%;
      justify-content: space-between;
    }

    &__combination-bottom {
      flex-direction: column;
      align-items: flex-start;
    }
    &__combination-button-wrapper {
      width: 100%;
      max-width: 160px;
      text-align: center;
    }
    &__combination-price {
      padding-bottom: 24px;
    }
    &__wrapper {
      padding: 0 40px 0 40px;
    }
    &__delivery-block-first,
    &__delivery-block-second,
    &__delivery-block-third{
      min-width: 20%;
    }
  }
}

@media (max-width: 928px) {
  .HookaOrder {
    &__header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 852px) {
  .HookaOrder {
    &__delivery-terms-wrapper {
      flex-direction: column;
    }
    &__delivery-terms-image {
      padding-bottom: 8px;
    }
    &__delivery-terms-second-text {
      display: none;
    }
    &__delivery-terms-text-mobile {
      display: flex;
    }
    &__delivery-bottom {
      flex-direction: column;
    }
    &__delivery-block-first,
    &__delivery-block-second,
    &__delivery-block-third {
      margin-bottom: 8px;
    }
    &__delivery-wrapper {
      padding-bottom: 160px;
    }
  }
}
.HookaOrder__carousel .slick-list .slick-track {
  // чтобы не центрировалось по центру когда 1 слайд
  margin: 0;
  display: flex;
}
.slick-list {
  overflow: hidden;
  max-width: 1286px;
}
.slick-slide {
  margin-right: 90px !important;
}
.slick-track {
  display: flex;
}

.HookaOrder__carousel .slick-prev,
.HookaOrder__carousel .slick-next {
  display: none !important;
}
