@import "src/styles/constants.module";

.Footer {
  padding: 60px 0 38px 0;
  display: flex;
  position: relative;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;

  &__logo {
    max-width: 186px;
    max-height: 118px;
    padding-right: 48px;
  }

  &__vk-logo,
  &__insta-logo {
    padding-right: 28px;
    max-width: 26px;
    max-height: 22px;
    cursor: pointer;
  }
}

@media (max-width: 720px) {
  .Footer {
    &__logo {
      padding-right: 8px;
    }
  }
}
