@import "src/styles/fonts.module.scss";
@import "src/styles/constants.module";

.text {
  font-family: $LatoFont;
  text-transform: none !important;

  &.size {
    &-h0 {
      @include h0;
    }
    &-h1 {
      @include h1;
    }
    &-h1-gagalin {
      @include h1-gagalin;
    }
    &-h2-gagalin {
      @include h2-gagalin;
    }
    &-h3-gagalin {
      @include h3-gagalin;
    }
    &-h2 {
      @include h2;
    }
    &-h3 {
      @include h3;
    }
    &-h4 {
      @include h4;
    }
    &-h5 {
      @include h5;
    }
    &-h6 {
      @include h6;
    }
    &-h1-mobile {
      @include h1-mobile;
    }
    &-h2-mobile {
      @include h2-mobile;
    }
    &-h2-bold {
      @include h2-bold;
    }
    &-h3-mobile {
      @include h3-mobile;
    }
    &-h4-mobile {
      @include h4-mobile;
    }
    &-h5-mobile {
      @include h5-mobile;
    }
  }

  &.color {
    &-Black {
      @include Black;
    }
    &-Purple {
      color: #D231C1;
    }
    &-BlackHeader {
      @include BlackHeader;
    }
    &-White {
      @include White;
    }
    &-Yellow {
      @include Yellow;
    }
  }

  &.isBold {
    font-family: $LatoFontBold;
  }

  &.isCentered {
    text-align: center;
  }

  &.isUpperCase {
    text-transform: uppercase !important;
  }
}
